<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Account Information</title>
</head>
<body>
  <p>Dear {{ fullName }},</p>
  <p>Your account has been created successfully. Here are your login credentials:</p>
  <p>
    <strong>Password:</strong> {{ password }}
  </p>
  <p>Please keep this information secure.</p>
  <p>Thank you!</p>
</body>
</html>